body {
    font-family: 'ITC Avant Garde Pro Md', sans-serif;
    font-weight: 350;
    background-image: url(/imagens/background\ body.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #192a2a;
    margin: 0;
}

img {
    width: 15rem; /* Utilizei a unidade de medida rem para melhor flexibilidade e adaptação à diferentes tamanhos de telas. */
    margin-bottom: 0;
}

header {
    margin: 0;
    margin-left: -1rem; /* Utilizei -1 porque a imagem estava com um espaçamento à esquerda da página */
    background-image: url(/imagens/background\ header.png);
    background-repeat: no-repeat;    
    background-size: cover;     
    padding-bottom: 1vw; /* Utilizei a unidade de medida vw para tornar os elementos do header mais consistentes entre dispositivos. */
    color: #cecece;
}

header p {
    margin-left: 1rem; /* Utilizado para corrigir o espaçamento, pois ao diminuir para zerar a imagem a esquerda, estava fazendo o mesmo com o texto*/
}

main p {
    line-height: 1.4rem;
}

h1 {
    margin: auto;
}

ul {
    list-style: circle;
    padding: 1rem;
}

li {
    text-align: left;
    line-height: 2rem;
}


hr {
    border-color: #2f4f4f;
}

strong {
    color: #192a2a;
}

span {
    color: #118383;
    text-align: center;
}

footer {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #222f2f;
}

footer p {
    margin: auto;
    padding-top: 0.5rem;
    font-size: 12px;
    color: #cecece;
}

h2 {
    text-align: center;
}

.sobre-mim {
    margin: auto;
    width: 90%;
}

.habilidade {
    background: #192a2a;
    border-radius: 15px;
    color: #cecece;
    margin: auto; 
    padding: 0%; 
}

.ferrametas {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: auto;
    width: 90%; /* Utilizei a unidade de medida porcentagem para melhor adaptação e flexibilidade com relação à seu elemento pai */
    text-align: center;
}

.trabalhe-comigo {
    margin: auto;
    width: 90%;
}

.minha-jornada {
    margin: auto;
    width: 90%;
}

.contato {
    display: flex;
    color: #118383;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto;
    width: 90%;
    padding-bottom: 0.5rem;
}

.hobbies {
    margin: auto;
    width: 90%;
    line-height: 1.5rem;
}

a {
    color: inherit;    
    text-decoration: none;    
    font-family: inherit;    
}

@media {
    .habilidade {
        padding: 2rem;
        text-align: center;
        justify-items: center;
    }
}